<div class="row container">
  <div class="row">
      <div class="input-field col s6">
          <input id="input_text" type="text" data-length="10">
          <label for="input_text">Search</label>
      </div>
  </div>
</div>