<div class="row container">
  <div class="row">
    <%= form_tag url: images_path, method: :get do %>
      <div class="input-field col s6">
        <%= search_field_tag :search_keyword %>
        <label for="search_keyword">Simply enter a city to get a local experience!</label>
        <%= button_tag 'Go', class: 'btn waves-effect waves-light blue' %>
      </div>
    <%- end %>
  </div>
</div>
