<%= render 'shared/parallax' %>
<div class='container'>
  <div class="section white">
    "Whats Happening In ...." features cities around the world.  We put you in touch with the local vibe of the city you want to visit.  Our goal is to present a native's view of the city that you want to visit. We help keep you out of the tourist traps and meet the natives... to get a fuller travel experience.
  </div>
</div>

