<div class='container'>
  <div class="section white">
    <ul>
      <li>
        <strong>Always pack a towel</strong>
          It’s the key to successful galactic hitchhiking & plain commonsense. You never know when you will need it, at the beach, on a picnic, or just to dry off.
        </strong>
      </li>
      <li>
        <strong>Buy a small backpack/suitcase</strong>
        A small bag (35/40 liters), will force you to pack light. Humans have a natural tendency to want to fill space, you’ll end up going “well, I guess I can take more” & then regret it.
      </li>
      <li>
        <strong>Pack light</strong>
        It’s OK to wear the same t-shirt a few days in a row. You won’t need as much as you think. Write down a list of essentials, cut it in half, & then only pack that!
      </li>
      <li>
        <strong>But take extra socks</strong>
        You’ll lose a bunch to laundry to wear and tear, hiking ... gremlins. So packing extra will come in handy. I only take a few more than I need. Nothing beats a fresh pair of socks!
      </li>
      <li>
        <strong>Pack an extra bank card and credit card</strong>
        Disasters happen. It’s always good to have a backup in case you get robbed or lose a card. You don’t want to be stuck somewhere without access to your funds. Make sure to use no-fee bank cards
      </li>
      <li>
        <strong>“Great things never came from our comfort zones”</strong>
        <strong>“Stop worrying about the potholes in the road and enjoy the journey” ~ Babs Hoffman</strong>
      </li>
      <li>
        <strong>Don’t buy a money belt — they’re stupid.</strong>
        Thieves know they exist and being seen with one basically shouts, “Look at me, I’m a tourist with money! Rip me off!
      </li>
      <li>
        <strong>Pack light</strong>
        It’s OK to wear the same t-shirt a few days in a row. You won’t need as much as you think. Write down a list of essentials, cut it in half, & then only pack that!
      </li>
    </ul>
  </div>
</div>
