
<div class="row">
  <div class="col s12">
    <% if event.nodes[36].nodes.first&.text %>
      <%= image_tag(event.nodes[36].nodes.first.text) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= event.nodes.first.text&.truncate(30) %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <%= event.nodes.third.text&.truncate(80) %>
  </div>
</div>
