<div class="row">
  <div class="row">
    <div class="col s12">
      <%= event.nodes[36].text %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= event.nodes.first.text.truncate(30) %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= event.nodes.third.text.truncate(80) %>
    </div>
  </div>
</div>
